# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Streamlit
.streamlit/secrets.toml

# Environment variables
.env
.env.local

# IDEs
.vscode/
.idea/

# Testing & coverage
.pytest_cache/
.coverage
htmlcov/

# Operating system files
.DS_Store
Thumbs.db
